#about {
  padding-top: 2em;
}

#about div {
  margin: 1em 2em;
  padding: 1em;
  border-radius: 1.5em;
  flex: 0 1 50%;
}

#about #about-1 {
  text-align: right;
}

#about #about-2 {
  margin-top: 10em;
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) or (max-width: 1080px) {
  #about #about-1,
  #about #about-2 {
    margin: 0 2em;
    text-align: left;
  }
}