.card-container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(0, 480px));
  grid-auto-rows: 1fr;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2.5em;
  text-align: center;
  opacity: 0;
}

.card.show {
  animation-name: slideCard;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.card-link-container a {
  margin: 0 0.75em;
}

.card-link-container span {
  -webkit-user-select: none;
  user-select: none;
}

.stack-container {
  padding-top: 1em;
  margin: auto 0 0;
}

.stack {
  margin: 1em 0 0.5em;
}

.stack-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stackItem {
  border: 0.0625em solid;
  border-radius: 1.5em;
  border-color: var(--light_menu_font);
  color: var(--light_menu_font);
  margin: 0.1em;
  padding: 0.1em 0.75em;
  
}

@media (prefers-color-scheme: dark) {
  .stackItem {
    border-color: var(--dark_menu_font);
    color: var(--dark_menu_font);
  }
}

@media (min-width: 1441px) {
  .card:nth-child(3n + 2) {
    animation-delay: 0.1s;
  }
  .card:nth-child(3n + 3) {
    animation-delay: 0.2s;
  }
}

@media (min-width: 961px) and (max-width: 1440px) {
  .card:nth-child(2n + 1) {
  animation-delay: 0;
  }
  .card:nth-child(2n + 2) {
    animation-delay: 0.1s;
  }
}