#contact {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contact-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  
  margin-bottom: 15vh;
  text-align: center;
}

.contact-card-container {
  display: flex;
  justify-content: center;
}

.contact-card {
  display: block;
  text-align: center;
  width: min-content;
  padding: 1em;
}

.contact-card a,
.contact-card a:after {
  color: var(--light_sub_font);
  text-decoration: none;
  transition: all 0.5s;
}

.contact-card a:hover {
  color: var(--light_font);
}

.footer {
  margin: 1em 0 0;
  padding: 0.5em 1.5em;
  max-width: 1440p;

  border-radius: 2em 2em 0 0;
  text-align: right;
  
  color: var(--dark_font);
  background-color: var(--light_menu);
}

@media (min-height: 864px) {
  #contact {
    height: auto;
  }
  .contact-body {
    margin-top: 5vh;
  }
}

@media (prefers-color-scheme: dark) {
  .contact-card a,
  .contact-card a:after {
    color: var(--dark_sub_font);
    text-decoration: none;
  }
  .contact-card a:hover {
    color: var(--dark_font);
  }
  .footer {
    color: var(--light_font);
    background-color: var(--dark_menu);
  }
}