#contact {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  height: auto;
}

.contact-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: start;
  
  margin-top: 5vh;
  margin-bottom: 15vh;
  text-align: center;
}

.contact-body p.subtext {
  margin-top: 0;
}

.contact-card-container {
  display: flex;
  justify-content: center;
}

.contact-card {
  display: block;
  text-align: center;
  width: min-content;
  padding: 1em;
}

.footer {
  margin: 1em;
  padding: 0.5em 1.5em;
  max-width: 1440p;

  border-radius: 1.5em;
  text-align: right;
  
  color: var(--light_menu_font);
  background-color: var(--light_menu);
  filter: drop-shadow(0 0.5em 0.75em #00000080);
}

@media (max-aspect-ratio:2/4) or (max-height: 864px) {
  #contact {
    height: 100vh;
  }
  .contact-body {
    flex: 0 1 auto;
    margin: 5em 0;
    position: sticky;
    top: 45%;
  }
  .footer {
    position: sticky;
    top: calc(100% - 3em);
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: var(--dark_menu_font);
    background-color: var(--dark_menu);
  }
}