:root {
  --light_bg: #fff;
  --light_font: #000;
  --light_menu: #000;
  --light_sub_font: #777;
  --light_menu_font: #aaa;

  --dark_bg: #242424;
  --dark_font: #fff;
  --dark_menu: #fff;
  --dark_sub_font: #888;
  --dark_menu_font: #666;

  font-family: Quicksand, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

#root,
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;

  width: 100%;
  background-color: var(--light_bg);
  color: var(--light_font);
}

.subtext {
  color: var(--light_sub_font);
}

.header {
  padding: 1em 1em;
  margin: 3em 2em 0;
  text-align: center;
}

.container,
.flex-container {
  box-sizing: border-box;
  width: 80%;
  max-width: 1440px;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.svg-icon {
  height: 4em;
}

@media (prefers-color-scheme: dark) {
  #root,
  html,
  body {
    background-color: var(--dark_bg);
    color: var(--dark_font);
  }
  .subtext {
    color: var(--dark_sub_font);
  }
  .svg-icon {
    filter: invert(100%);
  }
}

@media (orientation: portrait) or (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .flex-container {
    width: auto;
    flex-direction: column;
  }
  .header {
    text-align: left;
  }
}