.navbar {
  position: sticky;
  top: 1em;
  z-index: 100;
  grid-column-start: 1;
  grid-row-start: 2;

  background-color: transparent;
  font-size: 1.7em;

  border-radius: 1.5em;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  height: min-content;

  transition: all 0.5s;
}

.navbar-spacer {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 1.7em;
  height: 5em;
  width: 1em;
}

.navbar a {
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 1em;
  transition: all 0.5s;
}
.navbar a,
.navbar a:after {
  color: var(--light_sub_font);
}
.navbar a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--light_font);
}
.navbar.pinned {
  font-size: 1.2em;
  background-color: var(--light_menu);
}
.navbar.pinned a,
.navbar.pinned a:after {
  color: var(--light_menu_font);
}
.navbar.pinned a:hover {
  color: var(--dark_font);
}

@media (prefers-color-scheme: dark) {
  .navbar a,
  .navbar a:after {
    color: var(--dark_sub_font);
  }
  .navbar a:hover {
    color: var(--dark_font);
  }
  .navbar.pinned {
    background-color: var(--dark_menu);
  }
  .navbar.pinned a,
  .navbar.pinned a:after {
    color: var(--dark_menu_font);
  }
  .navbar.pinned a:hover {
  color: var(--light_font);
}
}