.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-auto-rows: 1fr;
}

.card {
  height: auto;
  padding: 1.5em;
  margin: 1em;

  border-radius: 2em;
  background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #333;
  }
}

@media (orientation: portrait) or (max-width: 1080px) {
  .card {
    margin: 1em 2em;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}