#projects {
  width: 100%;
}

.project-footer {
  margin: 0 2em;
  padding: 1em 1em 0;
  text-align: center;
}

.gallery-container {
  position: relative;
  margin: 0 0 1.5em;
  border-radius: 1em;
}

.carousel-container {
  overflow: hidden;
  position: relative;
}

.scroll-button {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  box-sizing: content-box;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  overflow: hidden;

  border: none;
  background: none;
  transition: all 0.2s;

  color: var(--light_menu_font);
  background-color: var(--light_bg);
}
.scroll-button svg{
  width: 1.25em;
}
.scroll-button:hover {
  cursor: pointer;
  color: var(--light_font);
}

.scroll-button.left {
  left: -4.5em;
  border-radius: 0 1.75em 1.75em 0;
  padding-left: 1em;
}
.scroll-button.left svg{
  transform: rotate(-90deg)
}
.scroll-button.right {
  right: -4.5em;
  border-radius: 1.75em 0 0 1.75em;
  padding-right: 1em;
}
.scroll-button.right svg{
  transform: rotate(90deg)
}

.carousel-container:hover .scroll-button.left {
  left: -1em;
  filter: drop-shadow(0 0.5em 0.75em #00000080);
}
.carousel-container:hover .scroll-button.right {
  right: -1em;
  filter: drop-shadow(0 0.5em 0.75em #00000080);
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  padding: 0;
  margin: 0;
  border-radius: 1em;
  gap: 1em;
}

.scroll-marker-container {
  position: absolute;
  bottom: -1.5em;
  display: flex;
  justify-content: center;
  gap: 0.75em;
  left: 50%;
  transform: translate(-50%, 0);
}
.scroll-marker {
  content: "";
  width: 0.75em;
  height: 0.75em;
  background-color: var(--dark_sub_font);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
}
.scroll-marker.active {
  background-color: var(--light_font);
}

.image {
  display: flex;
  flex: 0 0 100%;
  align-items: center;

  list-style-type: none;
  scroll-snap-align: center;
  
  background-color: #111;
  border-radius: 1em;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.image img {
  width: 100%;
}

@keyframes slideCard {
  0% {
    opacity: 0;
    top: 10em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .scroll-marker {
  background-color: var(--light_sub_font);
  }
  .scroll-marker.active {
    background-color: var(--dark_font);
  }
  .scroll-button {
    color: var(--dark_menu_font);
    background-color: var(--dark_bg);
  }
  .scroll-button:hover {
    color: var(--dark_font);
  }
}

