#projects {
  width: 100%;
}
.card-container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(0, 480px));
  grid-auto-rows: 1fr;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2.5em;
  text-align: center;
  opacity: 0;
}

.card.show {
  animation-name: slideCard;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.card-link-container a {
  margin: 0 0.75em;
}

.card-link-container span {
  -webkit-user-select: none;
  user-select: none;
}

.gallery-container {
  position: relative;
  margin: 0 0 1.5em;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  padding: 0;
  margin: 0;
  border-radius: 1em;
  gap: 1em;
}

.scroll-marker-container {
  position: absolute;
  bottom: -1.5em;
  display: flex;
  justify-content: center;
  gap: 0.75em;
  left: 50%;
  transform: translate(-50%, 0);
}
.scroll-marker {
  content: "";
  width: 0.75em;
  height: 0.75em;
  background-color: var(--dark_sub_font);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}
.scroll-marker.active {
  background-color: var(--light_font);
}

.image {
  display: flex;
  flex: 0 0 100%;
  align-items: center;

  list-style-type: none;
  scroll-snap-align: center;
  
  background-color: #111;
  border-radius: 1em;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.image img {
  width: 100%;
}

.stack-container {
  padding-top: 1em;
  margin: auto 0 0;
}

.stack {
  margin: 1em 0 0.5em;
}

.stack-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stackItem {
  border: 0.0625em solid;
  border-radius: 1.5em;
  border-color: var(--light_menu_font);
  color: var(--light_menu_font);
  margin: 0.1em;
  padding: 0.1em 0.75em;
  
}

.project-footer {
  margin: 0 2em;
  padding: 1em 1em 0;
  text-align: center;
}

@keyframes slideCard {
  0% {
    opacity: 0;
    top: 10em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .scroll-marker {
  background-color: var(--light_sub_font);
  }
  .scroll-marker.active {
    background-color: var(--dark_font);
  }
  .stackItem {
    border-color: var(--dark_menu_font);
    color: var(--dark_menu_font);
  }
}

@media (min-width: 1441px) {
  .card:nth-child(3n + 2) {
    animation-delay: 0.1s;
  }
  .card:nth-child(3n + 3) {
    animation-delay: 0.2s;
  }
}

@media (min-width: 961px) and (max-width: 1440px) {
  .card:nth-child(2n + 1) {
  animation-delay: 0;
  }
  .card:nth-child(2n + 2) {
    animation-delay: 0.1s;
  }
}
