.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr;
  grid-auto-rows: 1fr;
}

.card {
  position: relative;
  padding: 1.5em;
  margin: 1em;
  text-align: center;

  border-radius: 2em;
  background-color: var(--light_alt_bg);

  opacity: 0;
}

.card:nth-child(even) {
  animation-delay: 0.25s;
}

.card.show {
  animation-name: slideCard;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.gallery-container {
  position: relative;
  margin: 0 0 3em;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  padding: 0;
  margin: 0;
  border-radius: 1em;
  gap: 1em;

  /*anchor-name: --my-carousel;
  scroll-marker-group: after;*/
}

.scroll-marker-container {
  position: absolute;
  bottom: -2em;
  display: flex;
  justify-content: center;
  gap: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}
.scroll-marker {
  content: "";
  width: 1em;
  height: 1em;
  background-color: var(--light_menu_font);
  border-radius: 50%;
  cursor: pointer;
}
.scroll-marker.active {
  background-color: var(--light_font);
}
/*
.gallery-container::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  bottom: calc(anchor(bottom) - 2em);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 1em;
}

.image::scroll-marker {
  content: "";
  width: 1em;
  height: 1em;
  background-color: var(--light_menu_font);
  border-radius: 50%;
}

.image::scroll-marker:target-current {
  background-color: var(--light_font);
}*/

.image {
  display: flex;
  flex: 0 0 100%;
  align-items: center;

  list-style-type: none;
  scroll-snap-align: center;
  
  background-color: #111;
  border-radius: 1em;
  overflow: hidden;
  aspect-ratio: 4/3;
}

.image img {
  width: 100%;
}

@keyframes slideCard {
  0% {
    opacity: 0;
    top: 10em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--dark_alt_bg);
  }
  .scroll-marker {
  background-color: var(--dark_menu_font);
}
.scroll-marker.active {
  background-color: var(--dark_font);
}
  /*
  .image::scroll-marker {
    background-color: var(--dark_menu_font);
  }
  .image::scroll-marker:target-current {
    background-color: var(--dark_font);
  }*/
}

@media (orientation: portrait) or (max-width: 1080px) {
  .card {
    margin: 1em 0em;
  }
  .card:nth-child(even) {
    transition-delay: 0;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}