.spacer {
  height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.splash-container {
  grid-column-start: 1;
  grid-row-start: 1;

  width: 80%;
  max-width: 1440px;

  background-image: linear-gradient(to bottom, #1e1e31, #a58bbb);
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.splash {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

.splash-border {
  width: calc(100% * 54/52);
  left: calc(100% * -1/52);
  bottom: calc(100% * -1/104);
  color: var(--light_bg);
}

.splash-1 img {
  width: 25vw;
  max-width: 720px;
}

.splash-1 {
  left: var(--test);
  bottom: 30%;
  
}

@media (prefers-color-scheme: dark) {
  .splash-border {
    color: var(--dark_bg);
  }
}

:root {
  --test: calc(80% * 0.25);
}
@media (min-width: 1440px) {
  :root {
    --test: calc(1440px * 0.25);
  }
}
@media (orientation: portrait) or (max-width: 1080px) {
  .splash-container {
    width: 100%;
  }
  :root {
    --test: 25%;
  }
}