.spacer {
  height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.splash-container {
  grid-column-start: 1;
  grid-row-start: 1;

  width: 80%;
  max-width: 1440px;

  background-color: #303553;
  background-image: linear-gradient(#303553 0%, #433E65 50%, #745591 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.splash-flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.poi {
  position: relative;
}

.splash {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

.splash-border {
  width: calc(100% * 54/52);
  left: calc(100% * -1/52);
  bottom: calc(100% * -1/104);
  color: var(--light_bg);
}

.poi-1 {
  width: 20%;
}

.splash-1,
.splash-1 img {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .splash-border {
    color: var(--dark_bg);
  }
}

@media (orientation: portrait) or (max-width: 1080px) {
  .splash-container {
    width: 100%;
  }
  .poi-1 {
    width: 50%;
  }
}