.spacer {
  height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.splash-container {
  grid-column-start: 1;
  grid-row-start: 1;

  width: 80%;
  max-width: 1440px;

  background-color: #745591;

  position: relative;
  overflow: hidden;
}

.splash-flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.poi {
  position: relative;
}

.splash,
.splash-bg,
.splash-border {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

.splash-border {
  width: calc(100% * 54/52);
  left: calc(100% * -1/52);
  bottom: calc(100% * -1/104);
  color: var(--light_bg);
  z-index: 100;
}

.splash,
.splash img {
  width: 100%;
}

.poi:nth-child(1) {
  width: 20%;
  bottom: 50%;
  z-index: 1;
}
.poi:nth-child(2) {
  width: 125%;
  bottom: calc(-70vw + 35vh);
  z-index: 4;
}
.poi:nth-child(3) {
  width: 125%;
  bottom: calc(-70vw + 39vh);
  z-index: 3;
}
.poi:nth-child(4) {
  width: 125%;
  bottom: calc(-70vw + 40vh);
  z-index: 2;
}
.poi:nth-child(5) {
  width: 125%;
  bottom: 100vh;
  z-index: 0;
}

.splash {
  bottom: 1px;
}
.splash-bg {
  background-image: linear-gradient(#2D3356 0%, #2D3356 25%, #745591 100%);
  height: 200vh;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .splash-border {
    color: var(--dark_bg);
  }
}
@media (min-width: 1800px) {
  .poi:nth-child(2) {
    bottom: calc(-1260px + 35vh);
  }
  .poi:nth-child(3) {
    bottom: calc(-1260px + 39vh);
  }
  .poi:nth-child(4) {
    bottom: calc(-1260px + 40vh);
  }
}
@media (orientation: portrait) or (max-width: 1080px) {
  .splash-container {
    width: 100%;
  }
  .poi:nth-child(2) {
    bottom: calc(-80vw + 20vh);
  }
  .poi:nth-child(3) {
    bottom: calc(-80vw + 25vh);
  }
  .poi:nth-child(4) {
    bottom: calc(-80vw + 30vh);
  }
}