#about {
  max-width: 1440px;
  padding: 3em 0.5em;
  display: flex;
}

#about div {
  margin: 2em;
  padding: 1em;
  color: white;
  border-radius: 1.5em;
}

#about #about-1 {
 margin-bottom: 10em;
 text-align: right;
}

#about #about-2 {
  margin-top: 10em;
}

@media (orientation: portrait) or (max-width: 1080px) {
  #about #about-1,
  #about #about-2 {
    margin: 0 2em;
    text-align: left;
  }

}