.app {
  background-color: var(--light_bg);
  /*
  display: flex;
  flex-direction: column;
  align-items: center;*/
}

.test {
  background-color: var(--light_bg);
  width: 80%;
  height: 200vh;

  flex: 0 0 auto;
}

@media (prefers-color-scheme: dark) {
  .test,
  .app {
    background-color: var(--dark_bg);
  }
}
