div {
  position: relative;
}

.header-main {
  z-index: 1;
  color: var(--light_font);
}

.header-sub {
  font-size: 4em;

  z-index: 0;
  position: absolute;
  top: -1.75em;
  left: 0;
  color: var(--light_sub_font);
}

@media (prefers-color-scheme: dark) {
  .header-main {
    color: var(--dark_font);
  }
  .header-sub {
    color: var(--dark_sub_font);
  }
}