:root {
  --light_bg: #fff;
  --light_font: #000;
  --light_menu: #d4d4d4;

  --dark_bg: #242424;
  --dark_font: #fff;
  --dark_menu: #333;
}

#root,
html,
body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;

  width: 100%;
  background-color: var(--light_bg);
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: var(--dark_bg);
  }
}

