:root {
  --light_bg: #fff;
  --light_font: #000;
  --light_menu: #d4d4d4;
  --light_menu_font: #000;

  --dark_bg: #242424;
  --dark_font: #fff;
  --dark_menu: #333;
  --dark_menu_font: #222;

  font-family: Quicksand, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

#root,
html,
body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;

  width: 100%;
  background-color: var(--light_bg);
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: var(--dark_bg);
  }
}

.container {
  width: 80%;
}

@media (orientation: portrait) or (max-width: 1080px) {
  .container {
    width: 100%;
  }
}