:root {
  --light_bg: #fff;
  --light_font: #000;
  --light_menu: #999;
  --light_sub_font: #999;
  --light_menu_font: #fff;

  --dark_bg: #242424;
  --dark_font: #fff;
  --dark_menu: #111;
  --dark_sub_font: #777;
  --dark_menu_font: #777;

  font-family: Quicksand, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

#root,
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;

  width: 100%;
  background-color: var(--light_bg);
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: var(--dark_bg);
  }
}

.container {
  width: 80%;
}
.flex-container {
  width: 80%;
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) or (max-width: 1080px) {
  .container {
    width: 100%;
  }
  .flex-container {
    width: auto;
    flex-direction: column;
  }
}