.navbar {
  position: sticky;
  top: 1.5em;

  background-color: #444;

  border-radius: 1.5em;
  margin-top: 1.5em;
  padding: 0.5em 1em;
}

.navbar a {
  padding: 0 0.5em;
  text-decoration: none;
  font-size: 1em;
}
.navbar a,
.navbar a:after {
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
  color:aqua;
}