.splashcontainer {
  width: 80%;
  max-width: 2560px;
  height: 100vh;

  background-color: #5D6091;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .splashcontainer {
    width: 100%;
  }
}

.splash {
  pointer-events: none;
  position: absolute;
}

.splashborder {
  width: calc(100% * 54/52);
  left: calc(100% * -1/52);
  bottom: calc(100% * -1/104);
  color: white;
}

.splash {
  pointer-events: none;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .splashborder {
    color: var(--dark_bg);
  }
}