.spacer {
  height: 100vh;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.splash-container {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 80%;
  max-width: 1440px;

  background-color: #5D6091;
  position: relative;
  overflow: hidden;
}


@media (orientation: portrait) or (max-width: 1080px) {
  .splash-container {
    width: 100%;
  }
}


.splash {
  pointer-events: none;
  position: absolute;
}

.splashborder {
  width: calc(100% * 54/52);
  left: calc(100% * -1/52);
  bottom: calc(100% * -1/104);
  color: var(--light_bg);
}

.splash {
  pointer-events: none;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .splashborder {
    color: var(--dark_bg);
  }
}
/*
.splashflex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  width: 100%
}*/