#about {
  background-color:blue;
}

.aboutpage {
  width: 80%;
  height: 700px;

  flex-flow: column wrap;
}

.section {
  width: 100%;
  margin: 2em;
}

.sectiondivider {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

.header1,
.header2 {
  padding-left: 1em;
  position: relative;
}

.header1 h1,
.header2 h1 {
  position: absolute;
  top: -1.4em;
  left: -0.1em;
  color: #80808080;
  font-weight: 700;
  font-size: 6em;
  z-index: 0;
}

.header1 h2,
.header2 h2 {
  position: relative;
  font-size: 4em;
  font-weight: 400;
  z-index: 1;
}

.boldtext {
  font-weight:600;
  font-size: 1.2em;
}

p a,
p a:active,
p a:visited {
  font-weight:600;
  color: #4095bf;
}

h3 {
  font-weight:400;
  font-size: 1.4em;
}
