h3 {
  font-weight:400;
  font-size: 1.4em;
}

.header {
  padding-left: 1em;
  position: relative;
}

.header h1 {
  position: absolute;
  top: -1.4em;
  left: -0.1em;
  color: var(--bgfont);
  font-weight: 700;
  font-size: 6em;
  z-index: 0;
}

.header h2 {
  position: relative;
  font-size: 4em;
  font-weight: 400;
  z-index: 1;
}

.padder {
  padding: 2em 2em 0 2em;
}

.boldtext {
  font-weight:600;
  font-size: 1.2em;
}

p a,
p a:active,
p a:visited {
  font-weight:600;
  color: var(--hyperlink);
}

div a,
div a:active,
div a:visited {
  position: relative;
  font-weight:400;
  font-size: 1.4em;
  color: var(--hyperlink);
  z-index: 1;
}