#pfp {
  align-self: center;
  border-radius: 50%;
  height: 75%;
}

.image {
  height: 400px;
  width: 400px;
}

.titlepage {
  height: 400px;
  width: 800px;

  flex-direction: column;
  mix-blend-mode: multiply;
}

.title {
  margin: 2em;
}

.title h1 {
  margin: 0;
  font-size: 5em;
  font-weight:400;
}

.pagelinks {
  
}

.pagelinks a {
  font-size: 1.5em;
  margin: 0.5em;
}

.pagelinks a,
.pagelinks a:hover,
.pagelinks a:active,
.pagelinks a:visited {
  color: white;
}