#home {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

img {
  align-self: center;
  border-radius: 50%;
  height: 75%;
}

.container {
  border-radius: 2em;
  background-color: #000000bf;

  display: flex;
  justify-content: center;
}

.image {
  height: 400px;
  width: 400px;
}

.title {
  height: 400px;
  width: 800px;
}