:root {
  font-family: 'Funnel Display', Arial, Helvetica, sans-serif;
}

body { 
  padding: 0; 
  margin: 0; 
}

.index {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  scrollbar-width: none;
}

.pagecontainer {
  padding: 1em;
  height: calc(100vh - 2em);
  scroll-snap-align: start;
}

.flexbox {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}