:root {
  font-family: 'Quicksand', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font: #ffffff;
  --bgfont: #80808080;
  --background: #000000bf;
  --hyperlink: #20a1df;
}

body { 
  padding: 0; 
  margin: 0; 
}

.index {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  scrollbar-width: none;
}

.pagecontainer {
  height: calc(100vh);
  scroll-snap-align: start;
}

.container {
  border-radius: 2em;
  background-color: var(--background);
  color: var(--font);

  padding: 2em;

  display: flex;
  flex-wrap: wrap;
}

.centered {
  justify-content: center;
  align-items: center;
}

.flexbox {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.section {
  max-width: 40%;
  min-width: 40%;
  margin: 2em;
}

.sectiondivider {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

#home,
#about,
#projects,
#contact {
  background: rgb(64,149,191);
  background: linear-gradient(90deg, rgba(64,149,191,1) 0%, rgba(117,64,191,1) 100%);
}