.projectspage {
  width: 80%;

  flex-flow: column wrap;
}

.projectlink a,
.projectlink a:active,
.projectlink a:visited {
  position: relative;
  font-weight:400;
  font-size: 1.4em;
  color: var(--hyperlink);
  z-index: 1;
}

.section img {
  width: 100%;
  border-radius: 1em;
}