.projectspage {
  width: 80%;

  flex-flow: column wrap;
}

.projectlink a,
.projectlink a:active,
.projectlink a:visited {
  position: relative;
  font-weight:400;
  font-size: 1.4em;
  color: var(--hyperlink);
  z-index: 1;
}

.slidecontainer {
  overflow: hidden;
  height: 100%;
  display: flex;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-left: 1em;
  margin-right: 1em;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide > img {
  width: 100%;
  border-radius: 1em;
}