.splashcontainer {
  width: 80%;
  height: 90vh;

  background-color: blue;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .splashcontainer {
    width: 100%;
  }
}

.splash {
  pointer-events: none;
  position: absolute;
}

.splashborder {
  width: 100%;
  bottom: 0;
}